<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Custom Task</title>
</head>
<body>
    <div class="container jumbotron">
        {% if output %}
            {% if output.error_response %}
                <a href="{% url 'custom-task' %}"><button class='btn btn-info' >Run another task</button></a>
                <p style='color:red'>Something went wrong. </p>
                {% if output.response %}
                    <h4>Respnonse </h4>
                    <p style='overflow-x:auto'>{{output.response}}</p>
                {% endif %}
                <h4>Error: </h4>
                <p>{{output.error_response}}</P>
            {% else %}
            <a href="{% url 'custom-task' %}"><button class='btn btn-info' >Run another task</button></a>
            <p color='red'>invalid item ids </p>
            <ul>
                {% for item_id in output.invalid_item_ids %}
                <li>{{ item_id }}</li>
                {% endfor %}
            </ul>
            <p color='green'>Valid Item ids</p>
            <ul>
                {% for item_id in output.valid_item_ids %}
                <li>{{ item_id }}</li>
                {% endfor %}
            </ul>
            <br/>
            <div class="container">
                {% for data in output.responses %}
                <h4>Items Data: {{data.item}}</h4>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{data.item}}">Show Response</button>
                <div id='{{data.item}}' class="collapse">
                    {{data.response}}
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% else %}
        <h2>
            Enter the auth key and item ids
        </h2>
        <form method="POST">
            {% csrf_token %}
            {{form}}<br/>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
        {% endif %}
    </div>
</body>
</html>