<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Custom Task</title>
</head>
<body>
    {% if output %}
        <h1>invalid item ids </h1>
        <ul>
            {% for item_id in output.invalid_item_ids %}
            <li>{{ item_id }}</li>
            {% endfor %}
        </ul>
        <h1>Valid Item ids</h1>
        <ul>
            {% for item_id in output.valid_item_ids %}
            <li>{{ item_id }}</li>
            {% endfor %}
        </ul>
        <br/>
        <div class="container">
            {% for data in output.responses %}
                <h2>Items Data: {{data.item}}</h2>
                <p>Click on the button to toggle between showing and hiding content.</p>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{data.item}}">Simple collapsible</button>
                <div id='{{data.item}}' class="collapse">
                {{data.response}}
                </div>
            {% endfor %}
        </div>
    {% else %}
    <h1>
        Upload the text file.
    </h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}<br/>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
</body>
</html>